@import '../../styles/variables.scss';
.body {
  background-color: white;
  padding: $container-padding;
  gap: 20px 20px;
  min-width: 600px;
  .content {
    display: flex;
    justify-content: center;
  }
}
