@import '../../styles/variables.scss';
.body {
  background-color: white;
  padding: $container-padding;
  gap: 20px 20px;
  width: 100%;
  max-width: $maxpagewidth;
  .content {
    display: flex;
    justify-content: center;
  }
}
