@import '../../../styles/variables.scss';
.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  .component {
    border-radius: $border-radius;
    border: 1px solid $primary-color;
    padding: $component-input-padding;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
    font-size: $font-size-medium;
    .placeholder {
      color: rgb(157, 155, 155);
      font-size: 14.4px;
    }
    &.error {
      border: 1px solid $error-color;
    }
    &.visible {
      border: 2px solid $primary-color;
    }
  }
  .calendar {
    font-size: $font-size-small;
    position: absolute;
    top: 34px;
    box-shadow: 1px 1px 4px grey;
    display: none;
    background-color: white;
    z-index: 1000;
    padding: $component-input-padding;
    justify-content: center;
    border-radius: $border-radius;
    &.visible {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .yearMenu {
      display: flex;
      justify-content: space-between;
      .yearButton {
        &:hover {
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
    .monthMenu {
      display: flex;
      justify-content: space-between;
      .yearButton {
        &:hover {
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
    .daysOfWeek {
      display: grid;
      justify-items: center;
      row-gap: 3px;
      column-gap: 3px;
      grid-template-columns: auto auto auto auto auto auto auto;
      .day,
      .dayOfWeek {
        border: 1px solid $light-color;
        padding: $component-input-padding;
        border-radius: $border-radius;
        min-width: 14px;
        text-align: center;
        &.weekend {
          background-color: $light-color;
        }
      }
      .day {
        &:hover {
          background-color: $secondary-color;
          color: white;
          cursor: pointer;
        }
        &.active {
          background-color: $primary-color;
          color: white;
        }
      }
    }
    .months {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto;
      align-items: stretch;
      justify-items: center;
    }
    .bottomMenu {
      display: inline-flex;
      justify-content: space-between;
      .currentDay,
      .clear {
        flex: 1;
        margin-top: 4px;
        text-align: center;
        padding: $component-input-padding;
        cursor: pointer;
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
    }
  }
}
