@import '../../styles/variables.scss';
.tableWrapper {
  table {
    width: 100%;
    border: 1px solid $light-color;
    border-collapse: collapse;
    thead {
      border-bottom: 1px solid $light-color;
      display: 'fixed';
      top: 0;
      tr {
        th {
          cursor: pointer;
          padding: $component-general-padding;
          text-align: left;
          &.alignLeft {
            text-align: left;
          }
          &.alignRight {
            text-align: right;
          }
          &.alignCenter {
            text-align: center;
          }
        }
      }
    }
    tbody {
      max-height: 100px;
      overflow-y: scroll;
      tr {
        &:nth-child(even) {
          background-color: $light-color;
        }
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
        td {
          padding: $component-general-padding;
          text-align: left;
          &.alignLeft {
            text-align: left;
          }
          &.alignRight {
            text-align: right;
          }
        }
      }
    }
  }
}
