@import './variables.scss';

html,
body {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100vw;
  color: $black-color;
  background: linear-gradient($primary-color, $secondary-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.content {
  display: flex;
  width: 100%;
  justify-content: center;
}
footer {
  font-size: $font-size-medium;
  background-color: white;
  margin-top: 10px;
  padding: $container-padding;
  display: flex;
  bottom: 0;
  max-width: $maxpagewidth;
  justify-content: space-around;
  .footer-column {
    display: flex;
    flex-direction: column;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
.main {
  justify-content: space-between;
  align-items: center;
  height: 98.8vh;
  margin: auto;
  width: 100%;
  max-width: $maxpagewidth;
}
.logo {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  main {
    width: 1000px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
  main {
    max-width: 80%;
  }
}
@media screen and (max-width: 700px) {
  main {
    width: 100%;
  }
}
