//Colors
$primary-color: #3c1327;
$secondary-color: #784358;
$light-color: #d7c8ce;
$light-color2: rgb(185, 155, 167) e;
$black-color: rgb(60, 60, 60);
$error-color: red;
$foreground-color: 0, 0, 0;
$disabled-color: rgb(229, 225, 225);

//Borders
$border-radius: 5px;

//Margin and padding
$container-padding: 20px;
$component-general-padding: 8px;
$component-input-padding: 5px;
$component-button-padding: 3px;
$component-margin: 10px;

//Fonts
$font-size-medium: 0.9em;
$font-size-small: 0.7em;
$font-size-large: 1.1em;

$maxpagewidth: 1200px;
