$primary-color: #e95e2b;
$black-color: rgb(60, 60, 60);
$secondary-color: #fadcbf;
$component-padding: 5px;
$border-radius: 5px;
$container-padding: 10px;
$component-margin: 10px;
$foreground-color: 0, 0, 0;
$maxpagewidth: 1200px;

:export {
  light: {
    blackcolor: $black-color;
    primarycolor: $primary-color;
    secondarycolor: $secondary-color;
    containerpadding: $container-padding;
    componentpadding: $component-padding;
    borderradius: $border-radius;
    componentmargin: $component-margin;
    foregroundcolor: $foreground-color;
    maxpagewidth: $maxpagewidth;
  }
}
