//Colors
$primary-color: #133c36;
$secondary-color: #437866;
$light-color: #cad7c8;
$light-color2: #adb7ac;
$black-color: rgb(38, 44, 38);
$error-color: rgb(224, 71, 71);
$success-color: green;
$info-color: rgb(9, 142, 190);
$foreground-color: 0, 0, 0;
$disabled-color: rgb(229, 225, 225);

//Borders
$border-radius: 5px;

//Margin and padding
$container-padding: 10px;
$component-general-padding: 8px;
$component-input-padding: 5px;
$component-button-padding: 3px;
$component-margin: 10px;

//Fonts
$font-size-medium: 0.8em;
$font-size-small: 0.6em;
$font-size-large: 1em;

$maxpagewidth: 1200px;
