@import '../../styles/variables.scss';

.body {
  background-color: white;
  padding: $container-padding;
  gap: 20px 20px;
  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .image {
      flex: 1 1 400px;
      text-align: center;
    }
    .form {
      flex: 1 1 400px;
    }
  }
}
