@import '../../styles/variables.scss';
.header {
  margin-bottom: 30px;
  .nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 20px;
    text-align: right;
    justify-content: flex-end;
    color: white;
    .link {
      padding: $component-general-padding;
      border-radius: $border-radius;
      transition: 0.5s;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
